body{
    background-color: blueviolet;
}
h1{
    background-color:aqua;
}
.heading {
    font-family:'Franklin Gothic Medium';
}
#demo{ 
    font-size:large;
}
*{ 
    background-color:blue;
}
h2.hover{
    color:aquamarine;
    font-size:70px;
}
p:: first-letter{
      font-size:60px ;
}
.handing {
    border:26px;
    border-style: groove;
}